/* Big tablet to small computers */
@media only screen and (max-width: 1200px) {

    /* HEADER */
    .slider-container {
        width: 48vh;
    }

    .cog img { width: 48vh; float: left; }

    .slider {
        height: 48vh;
        width: 336vh;
    }

    .slider img { 
        width: 36vh; 
        margin: 6vh;
    }

    @keyframes bannermove {
        to {
            margin-left: -336vh;
        }
    }
    
    /* BEERS */
    .beer-image div { font-size: 90% }
    
    /* NEWS */
    .news-apps img {
        height: 110px;
    }
}

/* Height of iPad is 1024px so covers range of tablet positions */
@media only screen and (max-width: 1023px) {
    
    /* HEADER */
    
    #main-nav { display: block; }
    
    .slider-container {
        width: 32vh;
        margin: 0 auto 0 auto;
    }

    .cog img { width: 32vh; float: left; }

    .slider {
        height: 32vh;
        width: 224vh;
    }

    .slider img { 
        width: 24vh; 
        margin: 4vh;
    }

    @keyframes bannermove {
        to {
            margin-left: -224vh;
        }
    }
    
    /* ABOUT */
    .section-about {
        width: 760px;
        height: 750px;
    }
    
    .section-about .about-text {
        display: block;
        margin: 0 auto;
        text-align: justify;
        width: 480px;
        font-family: "Roboto Condensed";
        font-weight: 100;
    }

    .section-about .about-map{
        display: block;
        margin: 20px auto 0 auto;
        float: none
    }

    #map {
        height: 300px;
        width: 500px;
    }
    
    /* BEERS */
    .beer-image div { font-size: 70% }
    
    /* NEWS */
    .section-news {
        height: 500px;
        margin: 000px 10px 100px;
    }

    .news-text {
        margin: 0 2vw;
    }

    .news-text p {
        margin-bottom: 20px;
    }

    .news-text h3 {
        margin-bottom: 20px;
    }

    .news-apps img {
        height: 80px;
    }
    
    /* MATES */
    
    .pub-box .pub-text {
        font-size: 60%;
    }

    .mate-box .mate-text {
        font-size: 40%;
    }
}

/* Width of the iPad is 768, so smaller than iPad tablet */
@media only screen and (max-width: 767px) {
    
    /* HEADER */
    
    .front-page {
        position: relative;
        width: 100vw;
        display: flex;
        flex-flow: column;
        height: 70vh;
    }
    
    .nav-logo {
        height: 100px;
    }
    
    #main-nav { display: none; }
    .mobile-nav-icon { display: inline-block; }
    
    #main-nav {
        float: left;
        margin-top: 20px;
        right: 10vw;
        text-align: left;
    }
    
    #main-nav li {
        display: block;
    }
    
    #main-nav li a:link,
    #main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%
    }
 
    .sticky .mobile-nav-icon {
        margin-top: 15px;
        margin-right: 20px;
    }
    
    .sticky .mobile-nav-icon i {
        font-size: 200%;
        color: #000;
    }
    
    .tagline {
        display: block;
        float: bottom;
        margin: 20vh auto;
        text-align: center;
    }

    .shop-btn {
        margin-top: 5vh;
        margin: 5vh auto 0 auto;
    }
    
    .slider-container {
        display: none;
    }

    .cog img { display: none;}

    .slider {
        display: none;
    }

    .slider img {
        display: none;
    }

    @keyframes bannermove {
        to {
            margin-left: -224vh;
        }
    } 
    
    /* ABOUT */
    .section-about {
        width: 450px;
        height: 750px;
    }
    
    .section-about .about-text {
        display: block;
        margin: 0 auto;
        text-align: justify;
        width: 450px;
        font-family: "Roboto Condensed";
        font-weight: 100;
    }

    .section-about .about-map{
        display: block;
        margin: 20px auto 0 auto;
        float: none
    }

    #map {
        height: 300px;
        width: 450px;
    }
    
    /* BEERS */
    .section-beers {
        padding: 0;
        background-image: url(img/nikola-jovanovic-pub.jpg);
        height: 200vw;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
    }

    .gear-mesh {
        width: 100vw;
        margin: 0 2vw;
    }

    .beers-showcase {
        position: relative;
        list-style: none;
        width: 100vw;
    }

    .beers-top {
        margin-top: 13vw;
    }

    .beers-middle {
        margin-left: 0;
        margin-top: 10vw;
    }

    .beers-bottom {
        margin-top: 10vw;
    }

    .beers-showcase li {
        display: inline;
        float: left;
    }

    .beer-image {
        position: relative;
        display: flex;
        background: black;
        color: white;
        margin-left: 10vw;
        margin-bottom: 5px;
        opacity: 0.8;
        width: 80vw;
        border-radius: 15vw;
        overflow: hidden;
    }

    .l_hand { margin-right: 0vw; }

    .beer-image img {
        opacity: 1;
        width: 30vw;
        height: 30vw;
        transition: transform 0.5s, opacity 0.5s;
    }

    .beer-image:hover img {
        opacity: 1;
        cursor: pointer;
    }

    .beer-image div {
        position: relative;
        display: flex;
        justify-content: center;
        top: 5.5%;
        left: 0%;
        background: black;
        color: white;
        margin-bottom: 5px;
        opacity: 0.5;
        visibility: visible; 
        transition: visibility 0s, opacity 0.5s linear;
        align-items: center;
        width: 50vw;
        height: 30vw;
        margin: auto;
        border-radius: 0vw;
        padding: 8px 30px 8px 0;
        cursor: pointer;
        font-size: 75%;
    }

    .beer-image p {
        text-align: center;
        font-family: "Roboto Condensed";
    }

    .beer-image:hover {
        visibility: visible;
        opacity: 1;
    }
    
    /* NEWS */
    
    .section-news {
        height: 900px;
        margin: 0px 10px;
    }
    
    .news-text {
        width: 90vw;
    }
    
    .fb-window {
        display: block;
        float: center;
        width: 400px;
        margin: 0 auto;
    }
    
    .fb-page {
        display: block;
        width: 400px; 
        height: 400px;
        margin: 10px auto 0 auto;
    }
    
    /* MATES */
    
    .section-mates {
        background-color: #ededed;
        text-align: center;
        padding: 100px 0;
        height: auto;
    }

    .section-mates h2 {
        height: 5vw;
    }

    .pubs-gallery {
        display: inline-block;
        width: 52.5vw;
        margin: 30px 0;
    }

    .pub-box {
        display: block;
        float: left;
        width: 52.5vw;
        height: auto;
        margin: 0.5vw;
    }

    .mates-gallery {
        display: inline-block;
        width: 30vw;
        margin: 0 0 0 10px;
    }

    .mate-box {
        display: block;
        float: left;
        width: 30vw;
        height: auto;
        margin: 0.5vw;
    }

    .box img {
        width: 100%;
        cursor: pointer;
    }

    .pub-box .pub-text {
        width: 52vw;
        font-size: 80%;
    }

    .mate-box .mate-text {
        width: 30vw;
        font-size: 60%;
    }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    
    /* HEADER */
    h1 {
        font-size: 200%;
    }
    
    /* ABOUT */
    .section-about {
        width: 90vw;
        height: auto;
    }
    
    .section-about .about-text {
        display: block;
        margin: 0 auto;
        text-align: justify;
        width: 90vw;
        font-family: "Roboto Condensed";
        font-weight: 100;
        font-size: 90%;
    }

    .section-about .about-map{
        display: none;
        margin: 20px auto 0 auto;
        float: none;
    }
    
    .map-icon {
        display: block;
        font-size: 20vw;
        margin-left: 35vw;
        margin-top: 40px;
    }
    
    #about a:link,
    #about a:visited {
        color: #393939;
        padding-bottom: 1px;
        border-bottom: none;
    }

    #about a:hover,
    #about a:active {
        color: #c7800e;
        border-bottom: none;
    }
    
    /* BEERS */
    .section-beers { height: 230vw; }
        
    .beer-image div { font-size: 45% }
    
    .beers-top {
        margin-top: 23vw;
    }

    .beers-middle {
        margin-left: 0;
        margin-top: 20vw;
    }

    .beers-bottom {
        margin-top: 20vw;
    }
    
    /* NEWS */
    
    .section-news {
        height: 800px;
        margin: 50px 0px;
    }
    
    .news-text { font-size: 80%; }
        
    .fb-page {
        width: 400px; 
        height: 400px;
        margin: 10px auto 0 auto;
    }
    
    /* CONTACT */
    
    .section-contact p { font-size: 70%; }
}