:root {
  --rangoon-green: #0f0d0b;
  --pot-pourri: #f1e0d5; /* rgba(241, 224, 213, 1) */
  --sandal: #b38b73;
  --just-right: #ecccb4;
  --cashmere: #e6bea5; /* rgba(230, 190, 165, 1) */
  --pine-cone: #6c5b4f;
  --silk: #bbaea5;
  --millbrook: #5c3c30;
  --spicy-mix: #865c4a;
  --georgia-font: Georgia, "Times New Roman", Times, serif;
}

/* --- GENERAL --- */
body {
  margin: 0px;

  font-family: var(--georgia-font);
}

.btn {
  background-image: linear-gradient(var(--spicy-mix), var(--millbrook));
  border: 1px solid var(--rangoon-green);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--pot-pourri);
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: var(--georgia-font);
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.btn:disabled {
  cursor: default;
  opacity: 0.3;
}

.btn:hover {
  background-image: linear-gradient(var(--sandal), var(--spicy-mix));
  border: 1px solid var(--pot-pourri);
  text-decoration: none;
}

.btn:active {
  background-image: linear-gradient(var(--sandal), var(--spicy-mix));
  border: 1px solid var(--pot-pourri);
  outline: none;
}

.btn:focus {
  box-shadow: rgba(230, 190, 165, 0.5) 0 0 0 3px;
  outline: none;
}

/* --- NAV BAR --- */

.header {
  /**/
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100px;
  z-index: 10;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px 0px 10px;

  background-color: var(--pot-pourri);
}

.logo {
  height: 100px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  list-style: none;
  font-size: 18px;
}

.nav-link {
  margin: 10px;
  color: var(--millbrook);
  text-decoration: none;
  transition: 0.5s;
}

.nav-link:hover {
  font-size: 120%;
  color: var(--spicy-mix);
}

.nav-fade {
  position: relative;
  top: 100px;

  height: 50px;

  background-image: linear-gradient(
    to top,
    rgba(255, 0, 0, 0),
    rgba(241, 224, 213, 1)
  );
}

/* --- HOME --- */

.home {
  background-image: url("images/flood_plain.jpg");
  background-position: center;
  width: 100vw;
  height: 100vh;
}

/* --- ABOUT --- */

.about-text {
  padding: 10vw;
  margin: 0;
  justify-content: center;
  text-align: center;

  color: var(--millbrook);
  font-size: 36px;
}

/* --- SERVICES --- */

.services {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: var(--cashmere);
}

.image-tom {
  height: 50vw;
  width: 50vw;
}

.services-fade {
  position: absolute;
  left: 40vw;
  width: 10.5vw;
  height: 50vw;
  background-image: linear-gradient(
    90deg,
    rgba(255, 0, 0, 0),
    rgba(230, 190, 165, 1)
  );
}

.services-text {
  width: 40vw;
  margin-left: 50px;
}

.services-paragraph {
  color: var(--millbrook);
  font-size: 24px;
}

.services-link {
  color: var(--rangoon-green);
}

/* --- CONTACT --- */

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  color: var(--millbrook);
}

.form-title {
  color: var(--millbrook);
}

.form-input {
  margin-bottom: 10px;
}

.form-label {
  display: flex;
  width: 50px;
}

.form-sender-details {
  display: flex;
  flex-direction: row;
}

.form-name {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

#name {
  width: 225px;
}

.form-email {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

#email {
  width: 225px;
}

#message {
  width: 600px;
  height: 200px;
}

.btn-form {
  width: 100px;
}
