/* green color is #DD8E00 */

/* ------------------------------------ */
/* BASIC SETUP */
/* ------------------------------------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fafafa;
  color: #777;
  font-family: "Raleway", "Arial", "sans-serif";
  font-weight: 300;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/* ------------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------------ */

/* ------ HEADINGS ---- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

h1 {
  font-size: 300%;
  font-family: "Josefin Sans";
  color: #fff;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  padding: 10px 0;
}

h3 {
  font-size: 140%;
}

h4 {
  font-size: 120%;
}

h5 {
  font-size: 100%;
  padding: 5px 0;
}

/* ------ PARAGRAPHS ------ */
.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

/* ------ GENERIC LINKS ------ */

a:link,
a:visited {
  color: #fff;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: #fff;
  border-bottom: 1px solid #dd8e00;
}

/* ------ BUTTONS ------ */

.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  border: 1px solid #dd8e00;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
  background-color: #dd8e00;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  color: #fff;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #dd8e00;
}

.btn-full:hover,
.btn-full:active {
  color: #fff;
  border: 1px solid #fff;
}

.btn-ghost:hover,
.btn-ghost:active {
  color: #fff;
  border: 1px solid #dd8e00;
}

/* ------------------------------------ */
/* HEADER */
/* ------------------------------------ */

header {
  height: 60px;
  background-color: rgba(0, 0, 0, 1);
  position: relative;
  z-index: 1000;
}

.profile-pic {
  height: 50px;
  width: auto;
  float: left;
  border-radius: 25px;
  margin: 5px 10px;
}

.header-icons {
  margin-top: 15px;
  margin-left: 10px;
  float: left;
  font-size: 200%;
}

.linked-icon:hover,
.linked-icon:active {
  color: #0077b5;
  border-bottom: 1px solid transparent;
}

.github-icon:hover,
.github-icon:active {
  color: #6e5494;
  border-bottom: 1px solid transparent;
}

/* Main Navi */
.main-nav {
  float: right;
  list-style: none;
  margin-top: 20px;
  margin-right: 20px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  text-transform: uppercase;
  font-size: 90%;
}

/* Mobile navi */
.mobile-nav-icon {
  float: right;
  margin-top: 15px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon ion-icon {
  font-size: 200%;
  color: #fff;
}

.mobile-nav-icon .close-icon {
  display: none;
}

/* Sticky nav */
.header.sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(221, 142, 0, 0.8);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.section-splash.sticky {
  margin-top: 60px;
}

/* ------------------------------------ */
/* SPLASH */
/* ------------------------------------ */

.section-splash {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(img/andres-dallimonti-kjqTlMHLci4-unsplash-min.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.section-splash p {
  color: #fff;
  padding: 10px 0px 30px 0px;
}

.section-splash span {
  padding: 0 10px;
}

.name-text {
  position: absolute;
  width: 100vw;
  top: 40%;
  text-align: center;
}

/* -------------------------------- */
/* ABOUT ME */
/* -------------------------------- */

.section-about {
  margin: 0 auto;
}

.section-about img {
  position: absolute;
  width: 250px;
  border-radius: 125px;
  margin: 60px 0 0 100px;
  z-index: 1;
}

.section-about .about-text {
  text-align: center;
}

.section-about h1 {
  font-size: 300%;
  margin-top: 150px;
  color: #dd8e00;
}

.section-about h2 {
  position: relative;
  margin: 50px auto 150px auto;
  max-width: 500px;
  text-align: center;
  font-size: 150%;
  line-height: 200%;
  z-index: 2;
}

/* -------------------------------- */
/* SKILLS */
/* -------------------------------- */

.section-skills {
  background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.5)),
    url(img/black-waves-min.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #b4b4b4;
}

.section-skills .row {
  padding: 0px;
  margin: auto;
}

.section-skills h2 {
  width: 400px;
  margin: 60px auto 0 auto;
  text-align: center;
  border-bottom: 1px solid #777;
}

.section-skills p {
  padding-bottom: 10px;
}

.skill-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
}

.skill-description {
  flex: 0 0 33%;
  padding: 20px;
  text-align: center;
  margin-bottom: 50px;
}

.skill-description h3 {
  margin-bottom: 10px;
}

.skill-description ion-icon {
  font-size: 250%;
}

/* -------------------------------- */
/* QUALIFICATIONS */
/* -------------------------------- */

.section-qualifications {
  padding-bottom: 50px;
  background-color: #fff;
}

.section-qualifications h2 {
  width: 400px;
  margin: 60px auto 60px auto;
  text-align: center;
  border-bottom: 1px solid #777;
}

.qualifications {
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.in-person {
  flex: 0 0 30%;
  text-align: right;
  padding-top: 20px;
  padding-right: 10px;
  width: auto;
}

.in-person a,
.online a {
  font-size: 17px;
  color: #777;
}

.in-person li,
.online li {
  list-style: none;
  margin-bottom: 9px;
  cursor: pointer;
}

.online {
  flex: 0 0 30%;
  text-align: left;
  padding-top: 20px;
  padding-left: 10px;
}

.window {
  display: flex;
  padding: 5px;
  border-style: solid;
  border-radius: 50px;
  border-color: #b4b4b4;
}

.qualification-info {
  flex: 0 0 45%;
  display: flex;
  flex-direction: column;
  height: 180px;
  width: 200px;
}

#institute {
  width: 100px;
  background-size: 200px;
  background-position: left, top;
  background-attachment: scroll;
  border-top-left-radius: 40px;
  height: 100px;
  width: 200px;
  color: #b4b4b4;
}

#institute.msc {
  background-image: url(img/institutions/uwe.png);
}
#institute.meng {
  background-image: url(img/institutions/uos.png);
}
#institute.ceng {
  background-image: url(img/institutions/ec.png);
}
#institute.mraes {
  background-image: url(img/institutions/raes.png);
}
#institute.atbs {
  background-image: url(img/institutions/udemy.png);
}
#institute.htcss {
  background-image: url(img/institutions/udemy.png);
}
#institute.pandas {
  background-image: url(img/institutions/udemy.png);
}
#institute.django {
  background-image: url(img/institutions/udemy.png);
}
#institute.dash {
  background-image: url(img/institutions/udemy.png);
}
#institute.agile {
  background-image: url(img/institutions/edx.png);
}
#institute.pmp {
  background-image: url(img/institutions/pmi.png);
}
#institute.sql {
  background-image: url(img/institutions/udemy.png);
}

#description {
  font-size: 15px;
}

#description.msc p:after {
  content: "Taken part time alongside work. Graduated with distinction.";
}
#description.meng p:after {
  content: "Specialisation in Aeromechanics. Graduated with 1st class Honours.";
}
#description.ceng p:after {
  content: "Approved by UK Engineering Council, sponsored by the Royal Aeronautical Society.";
}
#description.mraes p:after {
  content: "Full Membership to Royal Aeronautical Society.";
}
#description.atbs p:after {
  content: "9.5 hour python basics course covering all common operations.";
}
#description.htcss p:after {
  content: "12 hour html, css and jquery course including website project.";
}
#description.pandas p:after {
  content: "34 hour pandas bootcamp comprehensively covering analytical operations.";
}
#description.django p:after {
  content: "8.5 hour course covering basic Django setup and design.";
}
#description.dash p:after {
  content: "9.5 hour course covering interactive Python dashboards.";
}
#description.agile p:after {
  content: "6 week part-time Agile course by Rolls-Royce.";
}
#description.pmp p:after {
  content: "Accredited Project Management Professional.";
}
#description.sql p:after {
  content: "16.5 hour SQL foundational course.";
}

#certificate {
  border-color: #b4b4b4;
  background-size: auto 200px;
  background-position: left;
  padding-left: 5px;
  border-left: solid;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  height: 200px;
  width: 200px;
  color: #b4b4b4;
  cursor: pointer;
}

#certificate:hover {
  transform: scale(2.5);
  cursor: pointer;
}

#certificate.msc {
  background-image: url(img/qualifications/uwe_watermark-min.jpg);
}
#certificate.meng {
  background-image: url(img/qualifications/uos_watermark-min.jpg);
}
#certificate.ceng {
  background-image: url(img/qualifications/ceng_watermark-min.jpg);
}
#certificate.mraes {
  background-image: url(img/qualifications/raes_watermark-min.jpg);
}
#certificate.atbs {
  background-image: url(img/digital/automate_watermark-min.jpg);
}
#certificate.htcss {
  background-image: url(img/digital/html_watermark-min.jpg);
}
#certificate.pandas {
  background-image: url(img/digital/pandas_watermark-min.jpg);
}
#certificate.django {
  background-image: url(img/digital/django3_watermark-min.jpg);
}
#certificate.dash {
  background-image: url(img/digital/plotlydash_watermark-min.jpg);
}
#certificate.agile {
  background-image: url(img/digital/agile_watermark-min.jpg);
}
#certificate.pmp {
  background-image: url(img/qualifications/pmp_watermark-min.jpg);
}
#certificate.sql {
  background-image: url(img/digital/sql_watermark-min.JPG);
}

/* -------------------------------- */
/* TIMELINE */
/* -------------------------------- */

/* Variables */
/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,700);

.section-timeline h2 {
  margin: 60px 300px;
  text-align: left;
  border-bottom: 1px solid #777;
}

/* Styling */
.timeline {
  margin: 50px 300px;
  position: relative;
  list-style-type: none;
}

.timeline:before {
  background-color: black;
  content: "";
  margin-left: -1px;
  position: absolute;
  top: 0;
  left: 2em;
  width: 2px;
  height: 100%;
}

.timeline-event {
  position: relative;
}

.timeline-event:hover .timeline-event-icon {
  transform: rotate(-45deg);
  background-color: #dd8e00;
}

.timeline-event:hover .timeline-event-icon2 {
  transform: rotate(-45deg);
  outline: 10px solid #dd8e00;
}

.timeline-event:hover .timeline-event-thumbnail {
  box-shadow: inset 40em 0 0 0 #dd8e00;
}

.timeline-event-copy {
  padding: 2em 0 2em 2em;
  position: relative;
  top: -1.875em;
  left: 4em;
  width: 80%;
}
.timeline-event-copy h3 {
  padding: 10px 0;
}
.timeline-event-copy h4 {
  margin-bottom: 1.2em;
}
.timeline-event-copy strong {
  font-weight: 700;
}
.timeline-event-copy p:not(.timeline-event-thumbnail) {
  padding-bottom: 1em;
}

.timeline-event-icon {
  transition: transform 0.2s ease-in;
  transform: rotate(45deg);
  background-color: black;
  outline: 10px solid white;
  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  top: 0;
  left: 2em;
  width: 1em;
  height: 1em;
}

.timeline-event-icon2 {
  transition: transform 0.2s ease-in;
  transform: rotate(45deg);
  background-color: white;
  outline: 10px solid black;
  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  top: 0;
  left: 2em;
  width: 1em;
  height: 1em;
}

.timeline-event-thumbnail {
  transition: box-shadow 0.5s ease-in 0.1s;
  color: white;
  font-size: 0.75em;
  background-color: black;
  box-shadow: inset 0 0 0 0em #777;
  display: inline-block;
  margin-bottom: 1.2em;
  padding: 0.25em 1em 0.2em 1em;
}

/* -------------------------------- */
/* INTERESTS */
/* -------------------------------- */

.section-interests h2 {
  width: 50vw;
  margin: 60px auto 0 auto;
  text-align: center;
  border-bottom: 1px solid #777;
}

.section-interests {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url(img/plane-min.jpg);
  background-size: cover;
  background-position: center;
  height: 600px;
  background-attachment: fixed;
  color: #b4b4b4;
  text-align: center;
}

.section-interests ion-icon {
  font-size: 300%;
}

.top-row,
.bottom-row {
  display: flex;
  text-align: center;
  justify-content: center;
}

.top-row ion-icon,
.middle-row ion-icon,
.bottom-row ion-icon {
  padding: 50px;
}

.top-row ion-icon:hover,
.middle-row ion-icon:hover,
.bottom-row ion-icon:hover,
.top-row ion-icon:active,
.middle-row ion-icon:active,
.bottom-row ion-icon:active {
  color: #dd8e00;
}

.middle-row {
  display: flex;
  justify-content: center;
}

.interest-text {
  width: 200px;
  text-align: center;
  margin: auto 0;
}

/* -------------------------------- */
/* FOOTER */
/* -------------------------------- */

footer {
  background-color: #111111;
  color: #fff;
  height: 50px;
  margin: 0px;
}

.footer-icons {
  margin-top: 5px;
  margin-left: 5px;
  float: right;
  font-size: 200%;
}
